.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.loginDiv {
    display: flex;
    justify-content:center; 
    align-items:center; 
    height: 100vh;
}

.registerDiv {
    display: flex;
    justify-content:center; 
    align-items:center; 
    height: 100vh;
}

.loginForm {
    border-radius: 10px;
    border: 0.1px solid grey;
    background-color: white;
    padding: 50px;
}

hr.solid {
    border-top: 1px solid #bbb;
  }